* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(270deg, #44e6bc, #f95656, #56a9f9);
    background-size: 600% 600%;
    -webkit-animation: animation 30s ease infinite;
    -moz-animation: animation 30s ease infinite;
    animation: animation 30s ease infinite;
}

@-webkit-keyframes animation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes animation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes animation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

#firebaseui-auth-container {
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
}

form {
    border: 1px solid #3B7294;
}

.mdl-button--raised.mdl-button--colored {
    background: #42a5f5;
}

.mdl-button.mdl-button--colored {
    background: #42a5f5;
}

/* On screens that are 420px or less */
@media screen and (max-width: 800px) {
    #firebaseui-auth-container {
        margin: 0 40px 0 40px;

    }

}